# Taken from: https://serverfault.com/questions/840628/how-do-i-get-yarn-installed-on-elastic-beanstalk
commands:
  01_install_node:
    command: |
      sudo curl --silent --location https://rpm.nodesource.com/setup_11.x | sudo bash -
      sudo yum -y install nodejs
      node --version
  02_install_yarn:
    # Don't run the command if yarn is already installed (file /usr/bin/yarn exists)
    test: '[ ! -f /usr/bin/yarn ] && echo "Yarn not found, installing..."'
    command: |
      sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
      sudo yum -y install yarn
      yarn --version
